<h1>About Kulaverse</h1>

<p>
  This is a non-commercial open-source web version of the classic PS1 spatial logic puzzle game <a href='https://en.wikipedia.org/wiki/Kula_World'>Kula World</a> (otherwise known as Roll Away or Kula Quest). This video shows the first 5 levels of the original:
</p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/Jcwuy6_QSPk" frameborder="0" allowfullscreen></iframe>

<p>
  The aim of the project is to reimplement the game to run fully in a web browser. After considering implementations for PC, iOS, and other platforms over the years, the web seems the best place for this, as everyone can then play together.
</p>

<p>
  Sony have re-released it for PS3 and Android over the last few years, if you want to play the original.
</p>
  
<p>
  As well as all the puzzle features of the original game, we plan to include a level editor so that players can create and share their own designs. Hence, Kulaverse; Kula World but bigger and with lots of people in it!
</p>

<h2>What's the current status?</h2>

<p>
  We have the basic structures in place for worlds, levels, visual styles, etc. You can <a href='http://kulaverse.dev/worlds/1/levels/1'>play a level</a> and pick up coins and keys to finish the level and get a score. If you're logged in via Twitter or Facebook, those scores are saved.
</p>

<p>
  Currently the engine is half in one big Javascript function and half in a collection of Coffeescript classes. We're migrating to Coffeescript to keep the code sane.
</p>

<h2>How can I help?</h2>

<p>
  It's at a <strong>very</strong> early stage, and is only a hobby project so moves <strong>very</strong> slowly, but if you can code in Javascript, Coffeescript, Ruby or HTML5/CSS3, then you can <a href='https://github.com/Floppy/kulaverse'>fork the code on Github</a> and send in pull requests.
</p>

<p>
  At the moment, we're using <a href='https://github.com/mrdoob/three.js/'>Three.js</a> for the rendering and <a href='http://twitter.github.com/bootstrap/'>Twitter Bootstrap</a> for the CSS framework. We're also using <a href='http://rubyonrails.org'>Ruby on Rails</a> for the server-side, with <a href='https://github.com/plataformatec/devise'>devise</a> and <a href='https://github.com/intridea/omniauth'>omniauth</a> for user login.
</p>

<h2>Authors</h2>

<ul>
  <li><a href='http://github.com/Floppy'>@Floppy</a></li>
</ul>