<h1>Play Now!</h1>

<h2>World: <%= @world.name %></h2>

<ul id='levels' class='unstyled'>
  <% @world.levels.each do |level| %>
  	<li>
  		<% if current_user && current_user.completed_levels.include?(level) %>
  			<%= link_to "<i class='icon-play-circle icon-white'></i> Level #{level.id}".html_safe, [@world, level], :class => 'btn btn-success' %>
  			<%= current_user.scores.where(:level_id => level).first.score %>
  		<% else %>
  			<%= link_to "<i class='icon-play-circle icon-white'></i> Level #{level.id}".html_safe, [@world, level], :class => 'btn btn-danger' %>
  		<% end %>
  	</li>
  <% end %>
</ul>